/* Slideshow container */
.slideshow-container_v {
  position: relative;
/*
  background: url('/images/s3/slides_bg.png') no-repeat;
*/
  background-color: rgba(255,255,255, 0.3);
  margin: 20px auto;
  max-width:1024px;
/*
  background: #f1f1f1f1;
*/
}

/* Slides */
.mySlides_v {
  display: none;
  padding: 20px 60px 20px 60px;
  text-align: center;
}

/* Next & previous buttons */
.prev_v, .next_v {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #AAA;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next_v {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.left_v {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
a.prev_v:hover, a.next_v:hover {
  background-color: rgba(0,0,0,0.1);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container_v {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot_v {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active_v, .dot_v:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q_v {font-size: 22px; color:#1a2a70;}

/* Add a blue color to the author */
.author_v {font-size: 20px; color:#1a2a70; padding-top:8px;}
.read_all_v a {color:#666;font-size:12px;}
