@font-face {
	font-family: 'BS-Reg'; 
	src: local('O'), url('../fonts/BeauSansPro/PFBeauSansPro-Reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BS-Bold';
	src: local('O'), url('../fonts/BeauSansPro/PFBeauSansPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BS-Italic';
	src: local('O'), url('../fonts/BeauSansPro/PFBeauSansPro-ThinItal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PS-Reg';
	src: local('O'), url('../fonts/ProximaNova-Reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PS-Bold';
	src: local('O'), url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PS-Black';
	src: local('O'), url('../fonts/ProximaNova-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body { position: relative; font-family: 'PT Sans', serif; font-size:20px;}
div {margin:0; padding:0;}
P {font-size:20px;}
li {
	margin-bottom: 10px;
  list-style: none; /* Remove default list styles */
  padding-left: 0; /* Remove default left padding */
}
li::before {
  content: '\f00c'; /* Unicode for the check icon in Font Awesome 4 */
  font-family: 'FontAwesome'; /* Font Awesome 4 font family */
  margin-right: 5px; /* Add margin to separate the icon from the text if needed */
}
.main {padding:0;}
.PT {font-family: 'PT Sans', sans-serif !important;}
.BS {font-family: 'BS-Reg', sans-serif !important;}
.BS_B {font-family: 'BS-Bold', sans-serif !important;}
.PS {font-family: 'PS-Reg', sans-serif !important;}
.PS-B {font-family: 'PS-Bold', sans-serif !important;}
.PS-Black {font-family: 'PS-Black', sans-serif !important;}
.ROBOTO {font-family: 'Roboto', sans-serif;}
.PTS {font-family: 'PT Serif', serif; font-size:22px;}

h1 {font-family: 'BS-Bold', sans-serif;}
h2 {font-family: 'BS-Bold', sans-serif;}
h3 {font-family: 'BS-Bold', sans-serif;}
h4 {font-family: 'PT', sans-serif;}
.lh13 {line-height:1.3;}

.font48 {font-size:48px;}
.font42 {font-size:42px;}
.font38 {font-size:38px;}
.font36 {font-size:36px;}
.font32 {font-size:32px;}
.font28 {font-size:28px;}
.font24 {font-size:24px;}
.font22 {font-size:22px;}
.font20 {font-size:20px;}
.font18 {font-size:18px;}
.font16 {font-size:16px;}
.font14 {font-size:14px;}
.striked {text-decoration: line-through;}

div.blog {
	background-color:#ffffff;
	color:#6d8380;
/*
	font-family: 'PS-Reg', sans-serif !important;
*/
	font-family: 'PT Serif', serif !important;
	color:#333;
	font-size:18pt;
	text-align: justify;
}
.blog h1 {text-align:center; font-family: 'BS-Bold', sans-serif !important; color:#1a2a70;}
.blog h2 {text-align:left; font-family: 'BS-Reg', sans-serif !important; color:#6d8380; padding:40px 0 40px 0;}
.blog h3 {text-align:left;font-family: 'BS-Reg', sans-serif !important; color:#6d8380; padding:40px 0 40px 0;}
.blog h4 {text-align:left;font-family: 'BS-Reg', sans-serif !important; color:#6d8380; padding:40px 0 40px 0;}
.blog blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border:0;
    border-left: 5px solid #e26754;
}
.blog blockquote P {
	margin:0;
	padding:0 0 0 5px;
}
.blog2trial {
	color: #e26754;
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sleep_course {
	font-family: 'PT Sans', sans-serif !important;
}
.sleep_course h3 {
	font-family: 'Roboto', sans-serif !important;
	margin-top:48px;
	font-size:36px;
}
.sleep_course h4 {
	margin-top:80px;
	margin-bottom:40px;
	padding-left:10px;
	font-size:28px;
	font-weight:bold;
	color: #1a2a70;
	text-align:center;
}
.sleep_course h5 {
	margin-top:10px;
	padding-left:30px;
	font-size:20px;
	font-weight:bold;
}

.timer__items {
  display: flex;
  font-size: 48px;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}

@media (max-width: 575.98px) {
	h1 {font-size:28px;}
	h2 {font-size:24px;}
	h3 {font-size:20px;}
	h4 {font-size:16px;{
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
