.partners {
  padding-top: 140px;
  --font-family: "Roboto", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "PT Sans", sans-serif;
  --font3: "SFNSRounded", sans-serif;
  padding-bottom: 95px;
  overflow: hidden;

}

.partners .container {
  max-width: 1318px;
  margin: 0 auto;
  padding: 0 15px;
}

.partners__inner {}

.partners__title {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 44px;
  line-height: 91%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ff00c7;
}

.partners__items {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.partners__item {
  position: relative;
  height: 347px;
  padding: 93px 30px 20px 30px;
}

.partners__item-img {
  left: 30px;
  bottom: 308px;
  position: absolute;
}

.partners__item:nth-child(3) .partners__item-img {
  height: 49px;
  top: -10px;
}

.partners__item-link{
  position: absolute;
  right: 16px;
  top: 16px;  
}

.partners__item-link-img {
  transition: transform 0.3s ease-in-out;
  display: block;
}

.partners__item-link:hover .partners__item-link-img {
  transform: scale(1.1);
}

.partners__item-bg {
  position: absolute;
  left: -169px;
  max-width: none;
  top: -158px;
  width: 816px;
  height: 703px;
  z-index: -1;
}

.partners__item-title {
  font-family: var(--font3);
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  background: linear-gradient(90deg, #0094ff 0%, #ff00c7 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  position: relative;
  z-index: 2;

}

.partners__item-text {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  color: #2a293f;
  position: relative;
  z-index: 2;
}

.header__li {
  margin-right: 0;
}

.header__ul {
  gap: 30px;
}

.service__top {
  margin-top: 135px;
}

@media only screen and (max-width: 1410px) {
  .partners__items {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media only screen and (max-width: 1034px) {
  .partners__items {
    grid-template-columns: 1fr;
  }

  .header__li {
    font-size: 15px;
  }

  .header__ul {
    gap: 20px;
  }
}

@media only screen and (max-width: 970px) {
  .partners {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .service__top {
    margin-top: 80px;
  }

  .partners__item {
    width: 416px;
  }
}

@media only screen and (max-width: 480px) {


  .partners__title {
    font-size: 36px;
  }

  .partners__items {
    margin-top: 60px;
    gap: 0;
  }

  .partners__item {
    width: 345px;
    height: 306px;
    padding: 80px 20px 20px 20px;
  }

  .partners__item-title {
    font-size: 18px;
  }

  .partners__item-text {
    font-size: 15px;
  }

  .partners__item-img {
    transform: scale(0.8);
    left: -5px;
    bottom: 254px;
  }

  .partners__item-bg {
    transform: scale(0.8);
    left: -218px;
    top: -176px;
  }

  .partners__item:nth-child(3) .partners__item-img {
    left: 24px;
    top: 7px;
  }
}